.event-card {
  background-color: lightblue;
  padding: 1rem;
  border-radius: .5rem;
}

.event-card .event-title {
  margin-bottom: 0.25rem;
}

.event-card .description {
  margin-bottom: 1rem;
}

.event-card .hostname {
  margin-bottom: 0.5rem;
}
