.user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: lightblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-right: 1rem;
  text-decoration: none;
  color: black;
}

.user-card img {
  height: 40px;
  width: 40px;
}